#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  box-sizing: border-box;
}

.trafficLightContainer {
  width: 120px;
  background-color: black;
  padding: 10px;
}

.trafficLight {
  width: 100px;
  height: 100px;
  margin: 10px;
  border-radius: 50%;
}

.background-red {
  background-color: red;
}
.background-yellow {
  background-color: yellow;
}
.background-green {
  background-color: green;
}
.background-gray {
  background-color: gray;
}
